internet-banking-metro-client/xml-resources/web-service-references/HaloService/wsdl/localhost_8080/internet-banking-metro/HaloService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://metro.ws.training.artivisi.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://metro.ws.training.artivisi.com/">

<xs:element name="daftarRole" type="tns:daftarRole"/>

<xs:element name="daftarRoleResponse" type="tns:daftarRoleResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="daftarRole">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="daftarRoleResponse">
<xs:sequence>
<xs:element name="return" type="tns:role" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="role">
<xs:sequence>
<xs:element name="daftarPermission" type="tns:permission" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="daftarUser" type="tns:user" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="kode" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="permission">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="daftarEmail" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="daftarTelepon" type="tns:phone" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="tns:role" minOccurs="0"/>
<xs:element name="tanggalLahir" type="xs:dateTime" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="phone">
<xs:sequence>
<xs:element name="keterangan" type="xs:string" minOccurs="0"/>
<xs:element name="nomer" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>